use flake

# Install pre-commit hooks if not already installed
if [ -f .pre-commit-config.yaml ] && ! [ -f .git/hooks/pre-commit ]; then
    echo "Installing pre-commit hooks..."
    pre-commit install
fi
